<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="">Group Name: {{groupname}}</h1>
    <textarea name="" id="chat-log" cols='100' rows='20'>
        {% for chat in chats %}
        {{chat.content}}
        {% endfor %}
    </textarea><br>
    <input id="chat-message-input" type="text" size='100'><br>
    <input id="chat-message-submit" type="button" value="send">
    {% comment %} {{groupname|json_script:"group-name"}} {% endcomment %}
    {{groupname|json_script:"group-name"}}
</body>
<script>
    const groupName = JSON.parse(document.getElementById('group-name').textContent);
    console.log("Group Name:", groupName);

    const ws = new WebSocket(
    'ws://' + window.location.host + '/ws/wsc/' + groupName + '/'
    );

    ws.onopen=function(){
        console.log('WebSocket connection open...');
    };

    ws.onclose=function(){
        console.log('WebSocket connection closed unexpectedly...');
    };

    document.getElementById("chat-message-submit").onclick=
    function(event){
        const messageInputDom = document.getElementById("chat-message-input");
        const message = messageInputDom.value;
        ws.send(JSON.stringify({
            'msg':message
        }));
        messageInputDom.value="";

    };

    ws.onmessage = function(event){
        console.log('Message received from server',event.data)
        // JSON.parse---string to object
        const data = JSON.parse(event.data)
        console.log(data.msg)

        document.querySelector('#chat-log').value += (data.msg + '\n')
    }

</script>
</html>